<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
      {% if title %}
          <title>{{ title }} - Elastic Search</title>
      {% else %}
          <title>Welcome to ElasticSearch Project!</title>
      {% endif %}
        {% block header %}{% endblock %}
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form/view.css') }}" media="all">
        <script type="text/javascript" src="{{ url_for('static', filename='form/view.js') }}"></script>
        <div>
            Elastic Search Project:
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('form') }}">Search</a>
                <a href="{{ url_for('aggs') }}">Aggregations</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>